In [1]:
# https://towardsdatascience.com/multi-label-text-classification-with-scikit-learn-30714b7819c5
# https://docs.google.com/spreadsheets/d/1hg4KKKdivoh6mG7Bena0jYdJSvzgABlWLrU0NX_vHTQ/edit#gid=49385392

In [2]:
data_path='../../data/'
data_raw_path="../../data/raw/for third propose/"
data_man_path="../../data/manipulate/for third propose/"
model_path="../../model/modeling_third_propose/"

In [3]:
%matplotlib inline
import re
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score,roc_auc_score
from sklearn.multiclass import OneVsRestClassifier
# from nltk.corpus import stopwords
# stop_words = set(stopwords.words('english'))
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.externals import joblib
from sklearn.linear_model import SGDClassifier
import seaborn as sns
import nltk
from string import digits
import ast
import itertools

In [4]:
stop_words_id=open(data_path+"stopwords_id.txt")
stop_words_id=list(set([i[:-1] for i in stop_words_id.readlines()]))

stop_words_en=open(data_path+"stopwords_en.txt")
stop_words_en=list(set([i[:-1] for i in stop_words_en.readlines()]))

stop_words=stop_words_id+stop_words_en

# Get The Data

In [5]:
dtext0=pd.read_csv(data_raw_path+"data_gocommerce_items_sample_1.csv")

/Users/alamhanz/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
dtext0.head()

,booking_time,order_no,payment_method_name,merchant_name,type,item_list
0,2018-03-16 07:17:35,457815035,CASH,-,mart,fanta stroberi 390 ml
1,2016-10-17 15:16:40,231213726,GO-PAY,-,mart,aqua - 1500 ml air mineral
2,2017-12-22 13:24:26,413928537,PARTIAL_PAYMENT,-,mart,samyang buldak cheese hot chicken ramen 140 gr...
3,2018-02-03 14:23:40,436103314,GO-PAY,-,mart,heineken multipack pint 330 ml x 4 pcs
4,2018-03-27 15:43:51,464218735,PARTIAL_PAYMENT,-,mart,"aqua - 1 5 l,yakult - 5 pcs,sari roti coklat 1..."

In [7]:
x="aaa "
x.strip()

'aaa'

In [8]:
dtag0=pd.read_csv(data_raw_path+"data_tag_goshop3.csv")
dtag0.Tags=dtag0.Tags.apply(lambda x : x.strip())
dtag0=dtag0.drop_duplicates()
dtag=dtag0[["Keywords","Tags"]].drop_duplicates()
dtag.to_csv(data_man_path+"data_tag_goshop3_unique.csv",index=False)
# dtag=pd.read_csv(data_man_path+"data_tag_goshop3_unique.csv")

In [9]:
dtag.head()

            Keywords               Tags
0            indomie            indomie
1     indomie goreng     indomie goreng
2          mie iblis          mie iblis
3  bakso aci ganteng  bakso aci ganteng
4             indomi            indomie

In [10]:
# len(dtag.Keywords.unique())-len(dtag)
XX=dtag.groupby("Keywords").Tags.size()
XX[XX>1]

Series([], Name: Tags, dtype: int64)

# Quick Explore

### Number of Tags

In [11]:
dtag.head()

            Keywords               Tags
0            indomie            indomie
1     indomie goreng     indomie goreng
2          mie iblis          mie iblis
3  bakso aci ganteng  bakso aci ganteng
4             indomi            indomie

In [12]:
len(dtag.Tags.unique())

1165

### Cleaning Data Text

In [13]:
dtext=dtext0[~(dtext0.item_list.isnull())][["order_no","merchant_name","item_list","type"]]

In [14]:
dtext.head()

,order_no,merchant_name,item_list,type
0,457815035,-,fanta stroberi 390 ml,mart
1,231213726,-,aqua - 1500 ml air mineral,mart
2,413928537,-,samyang buldak cheese hot chicken ramen 140 gr...,mart
3,436103314,-,heineken multipack pint 330 ml x 4 pcs,mart
4,464218735,-,"aqua - 1 5 l,yakult - 5 pcs,sari roti coklat 1...",mart

In [15]:
dtext["item_list_cln1"]=dtext.item_list.apply(lambda x: re.sub( '\s+', ' ',re.sub(r"[@#?!$-:]\ *", " ",
                                            x.replace(":","|").replace("&","|").replace(" dan ","|").replace("+","|").replace(
                                            "-","|").replace("~","|").replace(
                                            ",,,","|").replace("...","|").replace(
                                            ",,","|").replace("..","|").replace(
                                            ",","|").replace(".","|").replace(
                                            ";","|").replace("+","|")).translate(
                                            digits).lower().replace("=",
                                            " ").replace('"'," ").replace(" dan ","|").replace(" and ","|").replace(
                                            "\_"," ").replace("/"," ").replace("|",",")).strip())

dtext["item_list_cln2"]=dtext.item_list.apply(lambda x: re.sub( '\s+', ' ',re.sub(r"[@#?!$-:]\ *", " ",
                                            x.replace(":","|").replace("&","|").replace(" dan ","|").replace("+","|").replace(
                                            "-","|").replace("~","|").replace(
                                            ",,,","|").replace("...","|").replace(
                                            ",,","|").replace("..","|").replace(
                                            ",","|").replace(".","|").replace(
                                            ";","|").replace("+","|")).translate(
                                            digits).lower().replace("=",
                                            " ").replace('"'," ").replace(" dan ","|").replace(" and ","|").replace(
                                            "\_"," ").replace("/"," ").replace("|"," ")).strip())

dtext["merchant_name_cln1"]=dtext.merchant_name.apply(lambda x: re.sub( '\s+', ' ',re.sub(r"[@#?!$-:]\ *", " ",
                                            x.replace(":","|").replace("&","|").replace(" dan ","|").replace("+","|").replace(
                                            "-","|").replace("~","|").replace(
                                            ",,,","|").replace("...","|").replace(
                                            ",,","|").replace("..","|").replace(
                                            ",","|").replace(".","|").replace(
                                            ";","|").replace("+","|")).translate(
                                            digits).lower().replace("=",
                                            " ").replace('"'," ").replace(" dan ","|").replace(" and ","|").replace(
                                            "\_"," ").replace("/"," ").replace("|"," ")).strip())

In [16]:
dtext[["order_no","item_list","item_list_cln1","item_list_cln2","merchant_name_cln1"]].sample(300).head(17)
# dtext[dtext.order_no==279120728]["item_list_cln1"].tolist()
# PESAN MAKANAN :•> NASI GORENG

,order_no,item_list,item_list_cln1,item_list_cln2,merchant_name_cln1
1163870,306852821,"bronis mente 21 x 5 x 7 cm,spikoe coklat kism...","bronis mente x x cm,spikoe coklat kismis x x cm",bronis mente x x cm spikoe coklat kismis x x cm,
951455,331056168,episan syrup,episan syrup,episan syrup,
2061837,260842619,pyramid beef 2 kaleng,pyramid beef kaleng,pyramid beef kaleng,
2293035,341921934,cilok 11 bgks,cilok bgks,cilok bgks,
792555,281414728,"ultra milk chocolate 1 l,ultra milk plain 1 l","ultra milk chocolate l,ultra milk plain l",ultra milk chocolate l ultra milk plain l,
1012453,450130361,"walls magnum mini clasic 45 ml,walls magnum in...","walls magnum mini clasic ml,walls magnum infin...",walls magnum mini clasic ml walls magnum infin...,
773344,366685502,kenmaster f1-4 over heat 1 set stop kontak 4 ...,"kenmaster f , over heat set stop kontak lubang",kenmaster f over heat set stop kontak lubang,
3261677,309290318,"nasi + telur bakar,nasi + ayam bakar","nasi , telur bakar,nasi , ayam bakar",nasi telur bakar nasi ayam bakar,balebakaran harum
3292797,339323739,paket 1,paket,paket,rm vegetarian kharisma
38529,400164055,"brocoli organic - pcs vegetable,nissin chocol...","brocoli organic , pcs vegetable,nissin chocola...",brocoli organic pcs vegetable nissin chocolate...,
2380934,167989539,1 ayam goreng + nasi dan 2 ayam goreng tanpa nasi,"ayam goreng , nasi, ayam goreng tanpa nasi",ayam goreng nasi ayam goreng tanpa nasi,
876116,282683097,roti tawar jempol,roti tawar jempol,roti tawar jempol,
2338573,376096856,acne malam 1 cream pagi 1 nama : agnes yulinda...,"acne malam cream pagi nama , agnes yulinda sar...",acne malam cream pagi nama agnes yulinda sari ...,
985044,293661433,"pepaya california ah pcs,nanas gula jawa pcs,j...","pepaya california ah pcs,nanas gula jawa pcs,j...",pepaya california ah pcs nanas gula jawa pcs j...,
621152,410238158,bintang multipack can 330 ml x 6 pcs alcohol d...,"bintang multipack can ml x pcs alcohol drink,h...",bintang multipack can ml x pcs alcohol drink h...,
384178,463619017,pisang 1bundle ~1 4kg,"pisang bundle , kg",pisang bundle kg,
3271545,379823279,"yamie polos asin sedang,crispy,bakso goreng (i...","yamie polos asin sedang,crispy,bakso goreng isi",yamie polos asin sedang crispy bakso goreng isi,yamie panda

In [17]:
dtext.to_csv(data_man_path+"data_gocommerce_items_sample_1_cln.csv",index=False)
# dtext=pd.read_csv(data_man_path+"data_gocommerce_items_sample_1_cln.csv")
# dtext=dtext[~(dtext.item_list_cln1.isnull())]
# dtext=dtext[~(dtext.item_list_cln2.isnull())]

### Label the data

In [18]:
## Notes
# Pelet Ikan jadi ikan

In [19]:
dtag["num_word"]=dtag.Keywords.apply(lambda x : len(x.split(" ")))
dtag["num_word_tag"]=dtag.Tags.apply(lambda x : len(x.split(" ")))

In [20]:
dtag[dtag.num_word!=dtag.num_word_tag]

                  Keywords                  Tags  num_word  num_word_tag
10          rokok marlboro              marlboro         2             1
11         rokok sampoerna             sampoerna         2             1
14                mamipoko             mamy poko         1             2
15                    mamy             mamy poko         1             2
17                mamypoko             mamy poko         1             2
19                momypoko             mamy poko         1             2
20                sariroti             sari roti         1             2
21          sampoerna mild  sampoerna mild merah         2             3
33      rujak kuah pindang                 rujak         3             1
44                     obh             obh combi         1             2
94               ekor ayam                  ayam         2             1
98               gado gado                  gado         2             1
107            kapal selam                pempek         2             1
121             nasi gudeg                 gudeg         2             1
122              nasi uduk                  uduk         2             1
133             red velvet                   kue         2             1
165     ayam goreng tepung           ayam tepung         3             2
181    bebek goreng tepung          bebek tepung         3             2
189     cumi goreng tepung           cumi tepung         3             2
193     ikan goreng tepung           ikan tepung         3             2
196    jamur goreng tepung          jamur tepung         3             2
209                 nasgor           nasi goreng         1             2
226   pisang goreng tepung         pisang tepung         3             2
243     tahu goreng tepung           tahu tepung         3             2
250    tempe goreng tepung          tempe tepung         3             2
253    udang goreng tepung          udang tepung         3             2
257     usus goreng tepung           usus tepung         3             2
522             aqua botol                  aqua         2             1
537                es kopi                  kopi         2             1
538                 es teh                   teh         2             1
...                    ...                   ...       ...           ...
1753                silex                  silex         2             1
1754          thrombophob            thrombophob         2             1
1755              feminax                feminax         2             1
1757            stop cold              stop cold         3             2
1759             cap lang               cap lang         3             2
1760          paracetamol            paracetamol         2             1
1761          transpulmin            transpulmin         2             1
1768                monde                  monde         2             1
1772             lifebuoy               lifebuoy         2             1
1774            pepsodent              pepsodent         2             1
1775               dettol                 dettol         2             1
1777                astor                  astor         2             1
1786               akurat                 akurat         2             1
1789              nexcare                nexcare         2             1
1790              century                century         2             1
1792                durex                  durex         2             1
1793                 viva                   viva         2             1
1794          holisticare            holisticare         2             1
1815                biore                  biore         2             1
1822              buavita                buavita         2             1
1843                walls                  walls         2             1
1847               anchor                 anchor         2             1
1850       chicken fillet         chicken fillet         3             2
1852          greenfields            greenfields         2             1
1853                yummy                  yummy         2             1
1856            kenmaster              kenmaster         2             1
1857                 club                   club         2             1
1861              bintang                bintang         2             1
1870        cake and bread                   kue         3             1
1885         mineral water                   air         2             1

[230 rows x 4 columns]

In [21]:
keyword_set=set(dtag.Keywords.unique())
keyword_set1=set([t for t in keyword_set if len(t.split(" "))==1])
keyword_set2=set([t for t in keyword_set if len(t.split(" "))==2])
keyword_set3=set([t for t in keyword_set if len(t.split(" "))==3])


ts=set(dtag.Tags.unique())
ts1=set([t for t in ts if len(t.split(" "))==1])
ts2=set([t for t in ts if len(t.split(" "))==2])
ts3=set([t for t in ts if len(t.split(" "))==3])

In [22]:
dict_keyword=pd.DataFrame(dtag.Tags)
dict_keyword.index=dtag.Keywords
dict_keyword=dict_keyword["Tags"].to_dict()
# dict_sc=pd.DataFrame(dtag["Sub-Categories"])
# dict_sc.index=dtag.Tags
# dict_sc=dict_sc["Sub-Categories"].to_dict()

In [23]:
print(len(ts1),len(ts2))

730 364

In [24]:
dict_keyword["satai"]

'sate'

In [25]:
def include_tags(X,Y):
    X2=[]
    for x1 in X:
        k=0
        for y1 in Y:
            if x1 in y1:
                k=1
                break
        if k==0:
            X2.append(x1)
    
    return set(X2)|Y

def remove_term(text,X):
    for term in X:
        text=text.replace(' '+term+' '," ")
        text=re.sub( '\s+', ' ',text)
    return text
    

def tags(tx):
    X3=set([tg for tg in keyword_set3 if ' '+tg+' ' in ' '+tx+' '])
    tx2=remove_term(' '+tx+' ',X3)
    X3=set([dict_keyword[t] for t in X3])
    
    X2=set([tg for tg in keyword_set2 if ' '+tg+' ' in ' '+tx2+' '])
    tx3=remove_term(' '+tx2+' ',X2)
    X2=set([dict_keyword[t] for t in X2])

    X1=keyword_set1&set(tx3.split(" "))
    X1=set([dict_keyword[t] for t in X1])
    
    X_tags0=X1|X2|X3
    
    T1=set([t for t in X_tags0 if len(t.split(" "))==1])
    T2=set([t for t in X_tags0 if len(t.split(" "))==2])
    T3=set([t for t in X_tags0 if len(t.split(" "))==3])
    
    T12=include_tags(T1,T2)
    X_tags=include_tags(T12,T3)
    
    return X_tags

def tags_mult(X):
    XX=X.split(",")
    tg_X=set([])
    for t in XX:
        if len(t)>=3:
            t2=t.strip()
            tg_X=tg_X|tags(t2)
            
    return tuple(tg_X)

In [26]:
X="porsi bakmi alot dada, extra dada , sayur , bakso goreng sm sambal bakso goreng sambal mie yg banyak,kuah sumpit jgn lupa"
# X="nasi, nasi goreng, nasi uduk"

# X="indomie goreng plus plus level sosis"
# X="martabak telor bebek"
# X='es kopi susu keluarga gelas'
# X='paket dada sambal es teh manis dan teh tawar'

tags_mult(X)

('mie', 'bakso goreng', 'bakmi', 'sayur')

In [27]:
dtext["real_tags"]=dtext.item_list_cln1.apply(tags_mult)
# dtext=pd.read_csv(data_man_path+"data_raw_path_w_label2.csv")
# dtext.to_csv(data_man_path+"data_raw_path_w_label2.csv",index=False)
dtext.to_csv(data_man_path+"data_gocommerce_items_sample_1_cln_w_label3.csv",index=False)

# dtext=pd.read_csv(data_man_path+"data_raw_path_w_label2.csv")
# dtext["real_tags"]=dtext.real_tags.apply(lambda x : set(ast.literal_eval(x)))

In [28]:
dtext.head()

,order_no,merchant_name,item_list,type,item_list_cln1,item_list_cln2,merchant_name_cln1,real_tags
0,457815035,-,fanta stroberi 390 ml,mart,fanta stroberi ml,fanta stroberi ml,,"(fanta,)"
1,231213726,-,aqua - 1500 ml air mineral,mart,"aqua , ml air mineral",aqua ml air mineral,,"(aqua, air)"
2,413928537,-,samyang buldak cheese hot chicken ramen 140 gr...,mart,samyang buldak cheese hot chicken ramen gr ins...,samyang buldak cheese hot chicken ramen gr ins...,,"(samyang, mie, ayam, ramen)"
3,436103314,-,heineken multipack pint 330 ml x 4 pcs,mart,heineken multipack pint ml x pcs,heineken multipack pint ml x pcs,,"(heineken,)"
4,464218735,-,"aqua - 1 5 l,yakult - 5 pcs,sari roti coklat 1...",mart,"aqua , l,yakult , pcs,sari roti coklat pcs,ene...",aqua l yakult pcs sari roti coklat pcs energen...,,"(aqua, cokelat, sari roti, energen, yakult)"

In [29]:
# len(dtext[dtext.item_list_cln2.isnull()])
# 356

In [30]:
# dtext2=dtext[["order_no","item_list_cln2","real_tags"]]
# dtext2["num_tags"]=dtext2.real_tags.apply(lambda x : len(x))
# dtext2["num_text"]=dtext2.item_list_cln2.apply(lambda x : len(x.split(" ")))
# dtext2["real_tags"]=dtext2.real_tags.apply(lambda x : list(x))
# dtext2.to_csv(data_raw_path+"data_raw_path_w_label.csv",index=False)

dtext2=pd.read_csv(data_man_path+"data_gocommerce_items_sample_1_cln_w_label3.csv")
dtext2["real_tags"]=dtext2.real_tags.apply(lambda x : set(ast.literal_eval(x)))

/Users/alamhanz/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
# dtext2[dtext2.item_list_cln2.str.contains("kondom")]

In [32]:
len(dtext2)

3599997

### Exploration : Counting multi tags and text words

In [33]:
len(dtag.Tags.unique())

1165

In [34]:
dtext2["num_tags"]=dtext2.real_tags.apply(lambda x: len(x))

In [35]:
len(dtext2[dtext2.num_tags==0])/float(len(dtext2))

0.1674470839836811

In [36]:
# dtext2_shop=dtext2[dtext2.type=="shop"]
# len(dtext2_shop[dtext2_shop.num_tags==0])/float(len(dtext2_shop))
dtext2["num_tags_zero"]=dtext2.num_tags.apply(lambda x: x==0)
dtext2.groupby("type").num_tags_zero.sum()/float(len(dtext2))

type
food    0.033226
mart    0.034966
shop    0.099256
Name: num_tags_zero, dtype: float64

In [37]:
# 29.17% can't be tagged with the 403 tags
# 27.24% can't be tagged with the 403 tags

In [38]:
dtext2[dtext2.num_tags==0].sample(100).head(20)

,order_no,merchant_name,item_list,type,item_list_cln1,item_list_cln2,merchant_name_cln1,real_tags,num_tags,num_tags_zero
838511,434319582,-,fr imperial 8rw m3 hitam - 20 cm x 30 cm -,mart,"fr imperial rw m hitam , cm x cm ,",fr imperial rw m hitam cm x cm,NaN,{},0,True
529667,449457706,-,"trifed,redoxxon,zycin 500g,sumagesic 4s",mart,"trifed,redoxxon,zycin g,sumagesic s",trifed redoxxon zycin g sumagesic s,NaN,{},0,True
2433346,349521049,-,tonerhome peeling,shop,tonerhome peeling,tonerhome peeling,NaN,{},0,True
21727,298902634,-,kbsk01bl,mart,kbsk bl,kbsk bl,NaN,{},0,True
1871807,458840349,-,kosmetik,shop,kosmetik,kosmetik,NaN,{},0,True
2339036,311340131,-,ambil pesanan bu ananda,shop,ambil pesanan bu ananda,ambil pesanan bu ananda,NaN,{},0,True
3000004,326854519,Sederhana SA,paket 1,food,paket,paket,sederhana sa,{},0,True
625618,467806923,-,"hufagrip pilek 60 ml,baby cough - 60 ml",mart,"hufagrip pilek ml,baby cough , ml",hufagrip pilek ml baby cough ml,NaN,{},0,True
2151402,318321209,-,cover mobil,shop,cover mobil,cover mobil,NaN,{},0,True
1721902,280977467,-,cd. sofware Windows movie maker cd. nero burni...,shop,"cd, sofware windows movie maker cd, nero burni...",cd sofware windows movie maker cd nero burning...,NaN,{},0,True
1792193,413131305,-,cireng original 13.. satunya 10.000,shop,"cireng original , satunya ,",cireng original satunya,NaN,{},0,True
917123,134320308,-,spam classic 340gr,mart,spam classic gr,spam classic gr,NaN,{},0,True
1681217,350574031,-,tang potong plato,shop,tang potong plato,tang potong plato,NaN,{},0,True
2037335,295518039,-,Order nomor 39,shop,order nomor,order nomor,NaN,{},0,True
2171679,368996148,-,ring aksesoris 35mm 3 lusin,shop,ring aksesoris mm lusin,ring aksesoris mm lusin,NaN,{},0,True
2568883,447653245,-,2 box,shop,box,box,NaN,{},0,True
3145475,366239472,HokBen,"hoka hemat 3,paket b",food,"hoka hemat ,paket b",hoka hemat paket b,hokben,{},0,True
1399323,215861364,-,"#, equil dewasa segitiga berat 1,5kg beli 1 ka...",shop,", equil dewasa segitiga berat , kg beli kanton...",equil dewasa segitiga berat kg beli kantong kg...,NaN,{},0,True
2487768,428775656,-,4 naskun komplit,shop,naskun komplit,naskun komplit,NaN,{},0,True
313551,349396316,-,no order 130921tn,mart,no order tn,no order tn,NaN,{},0,True

In [39]:
def ntc(X):
    if X==0:
        return "0-zero tag"
    if X==1:
        return "1-one tag only"
    elif X>=2 and X<5:
        return "2-between 2 and 4 tags"
    else:
        return "3-more than 4 tags"
    
dtext2["num_tags_class"]=dtext2.num_tags.apply(ntc)

In [40]:
(dtext2.groupby(["type","num_tags_class"])["order_no"].count()/len(dtext2)).sort_values()

type  num_tags_class
food  3-more than 4 tags        0.006888
shop  3-more than 4 tags        0.018074
food  0-zero tag                0.033226
mart  0-zero tag                0.034966
      3-more than 4 tags        0.060344
food  1-one tag only            0.077756
mart  1-one tag only            0.091654
shop  0-zero tag                0.099256
food  2-between 2 and 4 tags    0.104353
mart  2-between 2 and 4 tags    0.146369
shop  2-between 2 and 4 tags    0.151527
      1-one tag only            0.175589
Name: order_no, dtype: float64

In [41]:
(dtext2.groupby(["num_tags_class"])["order_no"].count()/len(dtext2)).sort_values()

num_tags_class
3-more than 4 tags        0.085305
0-zero tag                0.167447
1-one tag only            0.344999
2-between 2 and 4 tags    0.402248
Name: order_no, dtype: float64

In [42]:
def check_tag2(list_X,i):
    if i in list_X:
        return 1
    else :
        return 0

In [43]:
dtext2_samp=dtext2.sample(300000)

In [44]:
len(keyword_set),len(ts)

(1733, 1165)

In [45]:
for c in ts:
    cek_tag=dtext2_samp.real_tags.apply(lambda x : check_tag2(x,c))
    dtext2_samp[c]=cek_tag

In [46]:
tag_corr=dtext2_samp[list(ts)].corr().abs()
list_corr = tag_corr.unstack()
so = list_corr.sort_values(kind="quicksort",ascending=False)

In [47]:
so2=so.reset_index()
so2[so2.level_0!=so2.level_1].iloc[[i for i in range(40) if np.mod(i,2)==0]]

                level_0           level_1         0
1122  minyak kayu putih          cap lang  0.647200
1124             a mild         sampoerna  0.609557
1126          cap badak  larutan penyegar  0.568794
1128         khong guan        saltcheese  0.535819
1130              ramen           samyang  0.535253
1132        shin ramyun         nong shim  0.515643
1134          sari roti        roti tawar  0.514130
1136              rinso             molto  0.508672
1138                bir           bintang  0.507444
1140            keripik          singkong  0.488362
1142             serena             monde  0.486412
1144               roma           malkist  0.481221
1146              genji               pie  0.472957
1148              delfi         chic choc  0.468815
1150               roma       sari gandum  0.468739
1152          sampoerna         avolution  0.468175
1154            cheetos            jagung  0.459145
1156          mamy poko            celana  0.449173
1158               gery        chocolatos  0.443571
1160   larutan penyegar     cap kaki tiga  0.438155

In [48]:
# dtext2_samp[(dtext2_samp["mie goreng"]==1)&(dtext2_samp["indomie goreng"]==1)]
# dtext2_samp[(dtext2_samp["martabak telor bebek"]==1)&(dtext2_samp["martabak telor"]==1)]
# dtext2_samp[(dtext2_samp["kopi"]==1)&(dtext2_samp["kopi susu"]==1)]
# dtext2_samp[(dtext2_samp["teh manis"]==1)&(dtext2_samp["teh"]==1)]

In [185]:
# count_item1=dtext2_samp[list(ts1)].sum()
# count_item1 = count_item1.sort_values(kind="quicksort")
# (count_item1/float(len(dtext2_samp))).tail(25).plot(kind="barh",figsize=(8,10),title="One Word Tags Proportion")

In [186]:
# dci1=count_item1.reset_index()
# # dci1["class"]=dict_class
# dci1["class"]=dci1["index"].apply(lambda x: dict_class[x])
# (dci1.groupby("class").sum().sort_values(0,kind="quicksort")/float(dci1[0].sum())).tail(25).plot(kind=
#                                                             "barh",figsize=(10,8),title="One Word Class Tags Proportion")

In [187]:
# count_item2=dtext2_samp[list(ts2)].sum()
# count_item2 = count_item2.sort_values(kind="quicksort")
# (count_item2/float(len(dtext2_samp))).tail(25).plot(kind="barh",figsize=(8,10),title="Two Word Tags Proportion")

In [188]:
# dci2=count_item2.reset_index()
# # dci1["class"]=dict_class
# dci2["class"]=dci2["index"].apply(lambda x: dict_class[x])
# (dci2.groupby("class").sum().sort_values(0,kind="quicksort")/float(dci2[0].sum())).tail(25).plot(kind=
#                                                             "barh",figsize=(10,8),title="Two Word Tags Proportion")